<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nappdeveloper.juff">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.juff">
        <activity
            android:name=".Activity.profileMyWalletActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.profileManageAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.profileOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.restaurantDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.foodPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.registerUserActivity"
            android:exported="false">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.veriifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.getOTPActivity"
            android:exported="false" />
        <activity
            android:name=".Helpers.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".Helpers.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>